.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    width: 100px;
    margin: 10px;
}

.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    
}

.card > img{
    width: 100%;
    height: 40%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 125px;
}

.card:hover{
    background-color: lightgrey;
}

.search-container{
    padding-left: 9px;
}

.simmer-card{
    width: 200px;
    height: 300px;
    background: lightgrey;
    margin: 10px;
}

.auth-btn{
    width: 65px;
    height: 50px;
    margin-top: 20px;
    margin-right: 15px;
}

.nav-lists > li{
    text-decoration: none;
}

.menu{
    display: flex;
}

.menu > div > img{
    width: 40%;
    height: 35%;
}

.userInfo-container > img {
    width: 16%;
    height: 35%;
}

